# environment variables
.env

# generated reports
.reports/
.diff/

# Optional npm cache directory
.npm

# pnpm
node_modules/
.pnpm-store

# transpiled files
dist/

# test coverage
coverage/

# npm pack
*.tgz

# macOS
.DS_Store

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
